*{
    margin: 0;
    padding: 0;
    border: 0;
}
.signIn{
    background-color:#b8e9e0;
}
.signIn .navbar{ 
    background-color: #80AAFF;
    height: 60px;
}
.signIn .navbar .container-fluid .navbar-brand{
    font-weight: 900;
    color:#b8e9e0;
}
.signIn .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-signUp { 
    font-weight: 500;
    color:#b8e9e0;
    transition: all 1s;
}
.nav-logIn{ 
    font-weight: 500;
    color:#b8e9e0;
    transition: all 1s;
}
.signIn .navbar .container-fluid .navbar-toggler .navbar-toggler {
    background-image: url(../imges/moon.png);
}
.signIn .navbar .container-fluid .navbar-toggler .navbar-toggler-icon{
    background-image: url(../imges/moon\(2\).png);
}
.signIn .row .inputs-content{
    width: 80%;
    background-color: #19b2ff93;
    text-align: center;
    padding-bottom: 25px;
    flex-wrap:wrap;
   background-color:rgb(205, 238, 255)
}
.signIn .row .inputs-content input{
    width: 85%;
    padding:10px;
    background-color: transparent;
    font-weight: 400;
    outline:none;
    border:2px solid;
    border:2px solid #80AAFF;
    border-radius:5px;
    color:#80AAFF;
}
.signIn .row .inputs-content .input-email{
    margin-top: 30px;
    margin-bottom: 10px;
}
.signIn .row .inputs-content .input-password{
    margin-bottom: 50px;
}
.signIn .row .inputs-content .input-password:hover ,.input-email:hover{
    background:linear-gradient(20deg,#6ee1fd9a,#80AAFF);
}
.signIn .row .inputs-content button:hover{
    color:#b8e9e0;
    background:linear-gradient(20deg,#6ee1fd9a,#80AAFF);
    font-weight: 700;
}
.signIn .row .inputs-content input::placeholder{
    color:transparent;
    color: transparent;
    background-image:linear-gradient(#285180,#1da7ec);
   -webkit-background-clip:text;
}
.signIn .row .inputs-content .icons-moon-and-sun img{
       margin-left: 10px;
       width: 35px;   
}   
.signIn .row .inputs-content h3{
    margin: auto;
    width: 100px;
    margin-top: 50px;
    font-weight: 900;
    color: transparent;
    background-image:linear-gradient(20deg,#0896dd,#00deee);
    -webkit-background-clip:text;
}
.signIn .row .inputs-content button{
    font-size:20px;
    width:85%;
    padding:10px;
    font-weight:600;
    background-color: transparent;
    font-weight:700;
    transition:0.5s;
    border:2px solid;
    border-radius: 10px;
    border:2px solid #80AAFF;
    color:transparent;
    color: #66ccff;
    -webkit-background-clip:text;
    margin-top: 50px;
    
}

.signIn .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-signUp:hover{
    font-weight: 900;
    color:#b8e9e0;

}
.nav-logIn:hover{
    font-weight: 900;
    color:#b8e9e0;

}



